
.camera{
    display: none;
}

.input_video {
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(-1, 1); */
}

.output_canvas {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /*position: absolute;*/
    top: 40px;
    height: auto;
    transform: scale(-1, 1);
    /*margin: auto;*/
}

.display {
    position: relative;
    height: 70vh;
    /* 100%high */
    display: flex;
    justify-content: center;
    /*all elements align in the x-center */
    align-items: center;
}

.hand_too_far_warning {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 24;
}

.score_and_time {
    position: relative;
    margin: auto;
    top: 20px;
    justify-content: center;
    align-items: end;
    font-size: 24;
}
